html {
    margin:0;
    padding:0;
}

body {
    width:100%;
    height:fit-content;
    margin:0;
    padding:0;
    background-color:#fafafa;

}

.data_container {
    width:100%;
    height:fit-content;
}
