.header_section {
    width:100%;
    height:60px;
    background-color:#000020;
}

.title {
    margin:0;
    padding:5px 20px 0px;
    text-align:left;
    font-size:35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#ffffff;
}

.image {
    width:30px;
    height:30px;
    margin-left:25px;
}